on:
  workflow_dispatch:
    inputs:
      ext_name:
        description: Extension to build
        required: true
        type: string
      php_versions:
        description: Comma-separated list of PHP versions to build for
        default: 8.1,8.2
        type: string
      os_targets:
        description: Comma-separated list of OS targets to build for
        default: alpine3.21,alpine3.22
        type: string
      platforms:
        description: Comma-separated list of Docker platforms to build for
        default: linux/amd64,linux/arm64
        type: string
      ignore_existing_images:
        type: boolean
        default: false
        description: Rebuild existing images
  workflow_call:
    inputs:
      ext_name:
        required: true
        type: string
      php_versions:
        required: true
        type: string
      os_targets:
        type: string
      platforms:
        type: string
      ignore_existing_images:
        type: boolean
        default: false
env:
  IMAGE_DOMAIN: ghcr.io
  IMAGE_NAMESPACE: ${{ github.repository_owner }}
jobs:
  matrix:
    runs-on: ubuntu-24.04
    outputs:
      matrix: ${{ steps.get-matrix.outputs.matrix }}
      count: ${{ steps.get-matrix.outputs.count }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fetch dependencies
        run: |
          make all
          composer install --no-interaction --no-dev

      - name: Get matrix
        id: get-matrix
        env:
          DPE_IGNORE_EXISTING_IMAGES: ${{ inputs.ignore_existing_images }}
        run: |
          out=$(php src/builder/main.php matrix ${{ inputs.ext_name }} ${{ inputs.php_versions }} ${{ inputs.os_targets }} ${{ inputs.platforms }})
          echo "count=$(echo "$out" | jq -r '.count')" >> $GITHUB_OUTPUT
          {
            echo 'matrix<<EOF'
            echo $(echo "$out" | jq -r '.matrix')
            echo -e "\nEOF"
          } >> "$GITHUB_OUTPUT"

  build:
    needs: [matrix]
    if: ${{ fromJson(needs.matrix.outputs.count) > 0 }}
    strategy:
      matrix: ${{ fromJson(needs.matrix.outputs.matrix) }}
      fail-fast: false
    uses: ./.github/workflows/build-extension-image.yaml
    with:
      ext_name: ${{ inputs.ext_name }}
      ext_version: ${{ matrix.ext_version }}
      php: ${{ matrix.php }}
      os: ${{ matrix.os }}
      platforms: ${{ matrix.platform }}
      push: true
