on:
  workflow_dispatch:
    inputs:
      php_versions:
        description: Comma-separated list of PHP versions to build for
        default: 8.1,8.2
        type: string
      os_targets:
        description: Comma-separated list of OS targets to build for
        default: alpine3.21,alpine3.22
        type: string
      platforms:
        description: Comma-separated list of Docker platforms to build for
        default: linux/amd64,linux/arm64
        type: string
      ignore_existing_images:
        type: boolean
        default: false
        description: Ignore existing images
env:
  IMAGE_DOMAIN: ghcr.io
  IMAGE_NAMESPACE: ${{ github.repository_owner }}
jobs:
  list-extensions:
    runs-on: ubuntu-24.04
    outputs:
      extensions: ${{ steps.get-extensions.outputs.result }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get list of extensions
        id: get-extensions
        run: |
          make all
          composer install --no-interaction --no-dev
          
          {
            echo 'result<<EOF'
            php src/builder/main.php list-extensions ${{ inputs.php_versions }}
            echo -e "\nEOF"
          } >> "$GITHUB_OUTPUT"

  build-images:
    needs: [list-extensions]
    strategy:
      matrix:
        ext: ${{ fromJson(needs.list-extensions.outputs.extensions) }}
    uses: ./.github/workflows/build-extension-images.yaml
    with:
      ext_name: ${{ matrix.ext }}
      php_versions: ${{ inputs.php_versions }}
      os_targets: ${{ inputs.os_targets }}
      platforms: ${{ inputs.platforms }}
      ignore_existing_images: ${{ inputs.ignore_existing_images }}
